SWYAM GUPTA (2020UG1116) - SET(E) - SEC (B)

In [1]:
import pandas as pa
import numpy as np

In [2]:
data = pa.read_csv("AQI_Data.csv")

In [3]:
# a) display the first 8 rows
print("First 8 rows of the dataset")
print(data.head(8))

First 8 rows of the dataset
    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019
5  Delhi  2024-01-06  369    321   327  64.679037  0.423996   22.359803
6  Delhi  2024-01-07  365    328   347  44.687485  0.130336   53.869827
7  Delhi  2024-01-08  493    513   526  54.565922  0.165338  182.770876

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550
5  47.699849
6  15.846146
7  16.645099

In [4]:
# b) display the last 5 rows
print("Last 5 rows of the dataset")
print(data.tail(5))

Last 5 rows of the dataset
      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2557  Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558  Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559  Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560  Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561  Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

In [5]:
#c) Show the dtype and number of non-null values in each column
print("The number of not null values in each column are :\n")
print(data.notnull().sum())
print()
print("The datatype of each column are :\n")
print(data.dtypes)

The number of not null values in each column are :

City     2562
Date     2562
AQI      2562
PM2.5    2562
PM10     2562
NO2      2562
CO       2562
O3       2562
SO2      2562
dtype: int64

The datatype of each column are :

City      object
Date      object
AQI        int64
PM2.5      int64
PM10       int64
NO2      float64
CO       float64
O3       float64
SO2      float64
dtype: object

In [6]:
#d) Use NumPy to compute the mean AQI , max PM2.5 and min PM10 values for each
print("Mean AQI : ",data["AQI"].agg(np.mean))
print("Max PM2.5 : ",data["PM2.5"].agg(np.max))
print("Min PM10 : ",data["PM10"].agg(np.min))

Mean AQI :  277.6350507416081
Max PM2.5 :  543
Min PM10 :  -26

C:\Users\09swy\AppData\Local\Temp\ipykernel_8816\2272235264.py:2: FutureWarning: The provided callable <function mean at 0x0000015E58ED3060> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print("Mean AQI : ",data["AQI"].agg(np.mean))
C:\Users\09swy\AppData\Local\Temp\ipykernel_8816\2272235264.py:3: FutureWarning: The provided callable <function max at 0x0000015E58ED2660> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print("Max PM2.5 : ",data["PM2.5"].agg(np.max))
C:\Users\09swy\AppData\Local\Temp\ipykernel_8816\2272235264.py:4: FutureWarning: The provided callable <function min at 0x0000015E58ED27A0> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print("Min PM10 : ",data["PM10"].agg(np.min))

In [7]:
# SET - 5
#5) Group the dataset by City.For each group calculate:
#   a) The mean AQI
#   b) The maximum value of PM2.5
#Sort the resulting data by the average AQI in desending order.

result = data.groupby('City').agg(
    mean_AQI=('AQI', 'mean'),
    max_PM25=('PM2.5', 'max')
)
print(result.sort_values(by='mean_AQI', ascending=False))

             mean_AQI  max_PM25
City
Mumbai     287.797814       519
Hyderabad  280.355191       543
Bangalore  279.543716       527
Delhi      279.153005       539
Pune       276.379781       532
Chennai    274.314208       530
Kolkata    265.901639       535